<h2>Hello, <%=@user.name%>.</h2>
<%if @user.is_admin %>
    <%usertype = "Admin"%>
<%else%>
    <%usertype ="Teller"%>
<%end%>
<h3>Username: <%=@user.username%> UserType: <%=usertype%></h3>
<h4>Please choose what you would like to do?</h4>
<h3> Transactions</h3>
<a href="/mytransactions/new">Sell/Restock</a>
<a href="/mytransactions">My Transactions</a><br><br>
<h3>Management Actions</h3>
<%if @user.is_admin%>
<a href="/allusers">Manage Users</a>
<a href="/alltransactions">Transaction Reports</a>
<a href="/items">Items Inventory</a>
<%end%>
<a href="/users/<%=@user.id%>/edit">Manage My Profile</a>


