<h2>Add To Inventory</h2>
<a href="/items"><button>Back To Items</button></a>
  <p><label for="name">Item Name:</label>
      <input type="Text" name="name"></p>
      
  <p><label for="description">Item Description:</label>
      <input type="Text" name="description" id="description"></p>
      
  <p><label for="price">Price: £</label>
  <input type="number" name="price" id="price" step="0.01">
  
  <p><label for="quantity">Quantity:</label>
<input type="number" name="quantity" id="quantity" step="1">

 <p><label for="restock_level">Restock Level:</label>
  <input type="number" name="restock_level" id="restock_level" step="1">

