<h2>Product View</h2>
<p><strong><%=@item.name %></strong> £<%=@item.price%> Item Id:<%=@item.id%></p>
<%if @item.quantity < @item.restock_level %> 
<text color = "red"> Item needs restocking</text>
<%end%>

<p><%=@item.description%></p>  
