<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Your's Food And Wine Stock Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1>Your's Food And Wine Stock Management App</h1>
    <div class="wrapper">
      <div class="nav" margin-left:auto; margin-right:0;> 
        <%if logged_in?%>
          <a href="/logout"><button>Log Out</button></a>
        <%end%>
      </div>
        <%= yield %>
    </div>
  </body>
</html>
