<div class="container">
   <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to your stock control App</h2>
    <h4>Please Login Below</p></h4><br><br>
    <form method="post" action="/">
      <label for="username">Username:</label>
      <input type="Text" name="username" id="username"><br>
      <label for="password">Password:</label>
      <input type="Text" name="password" id="password"><br>
      <input type="submit" name="Submit" value="Log In">
    </form>
</div>