<div class="container">
   <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to your stock control App</h2>
    <h4>Please Register An Admin Below To Get Started With Your App</p></h4><br><br>
    <form method="post" action="/">
      <p><label for="username">Username:</label>
      <input type="Text" name="username"></p>
      
      <p><label for="name">Full Name:</label>
      <input type="Text" name="name" id="name"></p>
      
      <p><label for="password">Password:</label>
      <input type="password" name="password" id="password"></p>
      
      <p><label for="password_confirmation">Confirm Your Password:</label>
      <input type="password" name="password_confirmation" id="password_confirmation"></p>
      
      <p><label for="is_admin">Is an Admin?:</label>
      <%if @appregister %>
      <%status = "disabled"%>
      <%chd = "checked"%>
      <%else%>
      <%chd =""%>
      <%status=""%>
      <%end%>
      <input name="is_admin" id="is_admin" type="checkbox" <%=status%> <%=chd%>/>
      <input type="hidden" name="is_admin" <%=chd%> /></p>
      <input type="submit" name="Submit" value="Create New User">
    </form>
    
</div>
